<a href="https://colab.research.google.com/github/Joseph941230/Pandas/blob/main/Pandas_read_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
SSN = pd.read_csv("/content/SSN.csv")

In [6]:
SSN.head()#show a couplpe row data

             City Zip_Code          SSN
0          Narsaq     3921  679-58-8659
1   Al Ya‘rubīyah      NaN  451-62-4510
2  Pak Thong Chai    30150  588-82-6302
3         Kłoczew   08-550  716-78-4641
4    Karangnongko      NaN  770-90-6568

In [7]:
SSN.shape #how many rows & clomus

(200, 3)

In [8]:
SSN.columns# check columns names

Index(['City', 'Zip_Code', 'SSN'], dtype='object')

In [9]:
SSN.index #check index

RangeIndex(start=0, stop=200, step=1)

In [ ]:
# read txt fileSSN2 = pd.read_csv(path,sep = "\t",header=None,names = ['CIty','Zip_Code','SSN'])

In [ ]:
# read excel file SSN3 = pd.read_excel("Path")

In [ ]:
''' read SQL file
 import pymysql
 conn = pymysql.connect(
    host = '  ',
    user='    '
    password= '     '
    database= '   '
    charset = '   '
)

mysql_page = pd.read_sql("SELECT * FROM   #####" ,con = conn)

mysql_page


'''