<a href="https://colab.research.google.com/github/Joseph941230/Pandas/blob/main/Pandas_Series%26DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Series
#2.DataFrame
#3.select series from DataFrame

In [1]:
import pandas as pd
import numpy as np

In [3]:
# create Series
s1 = pd.Series([1,'a',5,2,7])

In [5]:
#print out s1 Left are index Right data
s1

0    1
1    a
2    5
3    2
4    7
dtype: object

In [8]:
s1.values # print out data

array([1, 'a', 5, 2, 7], dtype=object)

In [13]:
# create a series with a tage index
s2 = pd.Series([1, 'a', 5.2, 7],index = ['d','b','a','c'])

In [14]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [15]:
# use python dir to create series
data= {'OH':26, "WA":30,"NY":20,"CA":18}
s3 = pd.Series(data)
s3

OH    26
WA    30
NY    20
CA    18
dtype: int64

In [18]:
# check OH' number
s3['OH']

26

In [24]:
# DataFrame is form, most are read file from exce; or SQL
df = pd.read_csv('/content/SSN.csv')
df.loc[1:4] # select from 1-4

pandas.core.frame.DataFrame